@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", serif;
}

:root {
  --color-sky-1: #007BFF;
  --color-sky-2: #8A2BE2;
  --color-shadow-deep: #111111;
  --color-shadow-soft: #1A1A1A;
  --color-stone: #A9A9A9; 
  --color-white: #ffffff; 
  --color-black: #000000; 
}
